body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1 {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: #28a745;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    margin-bottom: 20px;
}

strong {
    color: #dc3545;
}

#footer-logo {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.bg-red {
    background-color: red;
}

.text-white {
    color: white;
}

#navbarNav {
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: red;
    transition: right 0.3s;
}

#navbarNav.show {
    right: 0;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;base64,...');
    /* Update with white icon */
}

.nav-link {
    color: white !important;
}